{% include "base.html" %}
{% block content %}
{% if form.errors %}
    <p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
    <div id="Login">
        <div class="tablerow">
            <div class="cell">{{ form.username.label_tag }}</div>
            <div class="cell2">{{ form.username }}</div>
        </div>
        <div class="tablerow">
            <div class="cell">{{ form.password.label_tag }}</div>
            <div class="cell2">{{ form.password }}</div>
        </div>
        <div class="tablerow">
            <div class="center"><input type="submit" value="login" /></div>
    </div></div>
    <input type="hidden" name="next" value="/" />
</form>

{% endblock %}

