{% include "base.html" %}

    {% ifequal action "logout" %}
        <a class="menu_up" id="login" href="/accounts/login/">login</a><br/>
        <p class="error">You've correctly logged out.</p>
    {% else %}
        <a class="menu_up" id="logout" href="/accounts/logout/">logout</a><br/>
    {% if pending_list.objects.all %}

    <p class="pendingreq_ajax">Current pending requests: <span id="count">0</span></p>
        <form type="Post" action="/doit/">
            <div class="PendingList">
            {% for item in pending_list.objects.all %}
                <div class="Item">
                    <div class="ImgList">
                        {% for img in item.thumbs %}
                            <img class="thumb" src= {{ img }} />
                        {% endfor %}
                     </div>
                     <div class="Description">
                        <p class="item"> {{ item }} </p>
                     </div>
                     <div class="YesNo">
                        <input type="radio" name="yesno" value="Yes">
                        <input type="radio" name="yesno" value="No">
                     </div>
          {% endfor %}
            </div>
        </form>
    {% else %}
        <p class="error">No pending requests.</p>
        {% endif %}
    
    {% endifequal %}
    </body>
</html>
